/*csslint box-sizing: false*/
body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* header */
header {
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 0.5px solid black;
  padding: 0 15px;
  z-index: 10;
}

header.fixed {
  background-color: #00D6DE;
  position: fixed;
  border-color: #ffff;
  animation: fixHeader 0.5s ease;
}

@keyframes fixHeader {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0%);
  }
}

header .row {
  justify-content: space-between;
  align-items: center;
}

header .my-name a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  position: relative;
}

header.fixed .my-name a {
  color:black;
}

header .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .navbar ul li {
  display: inline-block;
  margin-left: 35px;
}

header .navbar ul li a {
  font-size: 15px;
  text-decoration: none;
  line-height: 70px;
  color: black;
  font-weight: 600;
  display: block;
  position: relative;
}

header.fixed .navbar ul li a {
  color: black;
}

header .navbar ul li a::before {
  content: "";
  height: 3px;
  background-color: black;
  width: 0;
  position: absolute;
  right: 0;
  bottom: -1px;
  transition: all 0.5s ease;
}

header.fixed .navbar ul li a::before {
  background-color: black;
}

header .navbar ul li a:hover::before {
  width: 100%;
  left: 0;
}

header .navbar ul li a.active::before {
  width: 100%;
  left: 0;
}

.home {
  min-height: 100vh;
  background-image:
    url("personalised-logo2.jpg");
  background-size: cover;
  /* padding: 50px; */
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home .block {
  /* border: 10px solid #fff; */
  padding: 20px;
  text-align: center;
  /* backdrop-filter: brightness(50%); */
  margin-bottom: 150px;
}

.home .block h6 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.home .block h1 {
  color: black;
  font-size: 60px;
  font-weight: 600;
  /* margin-right: 0; */
  padding: 0;
}

/* skills */

.skills {
  /* margin-top: -20vh; */
  /* padding: 100px 15px; */
  background-color: #ffff;
}

.skills .skills-content {
  flex: 0 0 50%;
  max-width: 50%;
  /* padding: 40px; */
}

.skills .img {
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .align-items-center {
  align-items: center;
  padding: 100px 15px;
}

.skills .img img {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: 120px;
}

.skills .skills-title h1 {
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffae00;
  margin: 0 0 10px;
  position: relative;
}

.skills .skills-title h1:before {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  right: 32%;
  background-color: #000;
  bottom: 0;
}

.skills .skills-content .skills-title p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #616161;
  margin: 0 0 10px;
}

.skills .skills-content .skills-title p span {
  color: #000;
  font-weight: 700;
  font-size: 16px;
}

.skills .skills-content .skills-box {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 10px;
}

.skills .skills-content .skills-box h6 {
  font-size: 14px;
  font-weight: 400;
  color: #616161;
  margin: 0 0 8px;
}

.skills .skills-content .skills-box h6 span {
  color: #ffae00;
  font-weight: 600;
}

.skills .skills-content .skills-box .skills-bar {
  height: 5px;
  background-color: #000;
  position: relative;
}

.skills .skills-content .skills-box .skills-bar .skill-bar-in {
  background-color: #c2185b;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.skills .skills-content .skills-box .skills-bar .skill-bar-in span {
  color: #838383;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0;
  top: -30px;
}

/* contact me */
.contact-me {
  padding: 100px 15px;
  background-color: #f5f8fd;
}

.contact-me .contact-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.contact-me .contact-title h1 {
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #ffae00;
  margin: 0 0 10px;
  position: relative;
}

.contact-me .contact-title h1:before {
  content: "";
  position: absolute;
  left: 10%;
  right: 15%;
  height: 2px;
  background-color: #000;
  bottom: 0;
}

.contact-me .text-center {
  text-align: center !important;
}

.contact-me .contact-form {
  background-color: #ffffff;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 50px;
  border: 1px solid #eeee;
}

.contact-me .contact-form .text {
  flex: 0 0 100%;
  max-width: 100%;
  padding-bottom: 20px;
  text-align: center;
}

.contact-me .contact-form .text h2 {
  font-size: 25px;
  font-weight: 600;
  color: #ffae00;
  margin: 5px;
  padding: 0;
}

.contact-me .contact-form .text h3 {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
  margin: 10px;
}

/* .contact-me .contact-form .space-inbetween {
    justify-content: space-between;
  }
  
  .contact-me .contact-form .col-6 {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
  
  .contact-me .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .contact-me .contact-form .form-control {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  } */

/* .contact-me .contact-form textarea.form-control {
    height: 140px;
  }
  
  .contact-me .contact-form .form-control::placeholder {
    color: #616161;
  } */

.contact-me .contact-form .button {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact-me .contact-form .button a {
  border-radius: 4px;
  color: #ffff;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.5s ease;
  background-color: #ffae00;
  float: center;
  box-shadow: 0 10px 15px #e8e8e8;
}

.contact-me .contact-form .button a:hover {
  background-color: #00D6DE;
  color: #ffff;
}

/* footer */

footer {
  padding: 70px 15px;
  background-color: #00D6DE;
}

footer .logo {
  color: #ffff;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  font-size: 45px;
  font-weight: 800;
}

footer .social-links {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding-top: 15px;
}

footer .social-links a {
  color: #ffae00;
  text-decoration: none;
  display: inline-block;
  margin: 0 12px;
  transition: all 0.5s ease;
}

footer .social-links a:hover {
  color: #fff;
}

/* copyright */

.copyright {
  background-color: #00D6DE;
  border-top: 0.5px solid #ffff;
  padding: 15px;
}

.copyright p {
  color: #fff;
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}
